<footer class="bg-[#103068] text-white py-3">
  <div class="max-w-full mx-auto px-4 text-center space-y-4">
    <p class="text-xs text-gray-300">&copy; {new Date().getFullYear()} Texila American University. All Rights Reserved</p>
  </div>
</footer>
